
nav {
  background-color: #fbf6f4;
  border-style: ridge #757575;
  height: 100px;
  font-family: 'Karla', sans-serif;
  font-size: 1.5rem;
  
}
.hyper {
  color: #0f1a26 !important;
}
.logo {
  margin-top: 3rem;
  border-radius: 15px;
  display:block;
  position: relative;
}

.esq {
  position: absolute;
  left: -5rem;
  top: 7rem;
  z-index: 0;
}
.init {
 background-color:#fbf6f4;
 color: #0f1a26 ;
 font-family: "Montserrat" , sans-serif;
 margin-bottom: 0rem;
 padding-bottom: 3rem;
 border-bottom-style: dotted;
 z-index: 2;
}
.img-logo {
  -webkit-box-shadow: inset 0px 0px 179px 184px rgba(251,246,244,0.5);
  -moz-box-shadow: inset 0px 0px 179px 184px rgba(251,246,244,0.5);
  box-shadow: inset 0px 0px 179px 184px rgba(251,246,244,0.5);
  border-style: dotted;
}
.second {
 background-color: #fbf6f4;
 font-family: "Montserrat" , sans-serif;
 margin-bottom: 0rem;
 padding-top: 2.5rem;
 padding-bottom: 3rem;
 border-bottom-style: dotted;
}

.dtion-t{
  font-size: 1.5rem !important;
  margin: 0rem; 
  padding-top: 6rem;
  z-index: 3;
  position: relative;
  font-weight: bold;
  letter-spacing: 0.3rem;
}

.dtion-p{
  font-size: 1rem !important;
  display: flex;
  border-color: #c5cae9;
  border-style: dotted;
  padding: 0.7rem;
  margin-top: 3rem;
  letter-spacing:0.2rem;
}

.icn {
  margin-left: 9rem;
  margin-top: 2rem;
}

.sk-t {
  margin-top: 0rem;
  padding-top: 2rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
}

.lt-t {
  padding-top: 1rem;
  color: #7c40ff;
  font-weight: bold;
}

.third{
  background-color: #fbf6f4;
  font-family: "Montserrat" , sans-serif;
  margin-bottom: 0rem;
  border-bottom-style: dotted;
  padding-top: 2.5rem;
  padding-bottom: 3rem;
}
.img-swap {
  cursor: pointer;
}
.fourth {
  background-color: #fbf6f4;
  font-family: "Montserrat" , sans-serif;
  padding-top: 2.5rem;
  padding-bottom: 3rem;
};
.contact {
  border-style: dotted;
}
@media (min-width: 500px) { /* si desea, cambiar tamaño de la pantalla en esta línea */
  nav {
      height: 100px !important;            /* Cambia el valor de lo que quieres */
      line-height: 100px !important;       /* Cambia el valor de lo que quieres */
  }
}

@media only screen and (min-width: 992px){
  nav {
    font-size: 1.2rem;
  }
}